@{
    ViewData["Title"] = "Painel Cliente";
}

<h1>Painel Cliente</h1>

<p>Informações de Usuário. </p>
<p>Você é um Cliente da loja. </p>

Seja bem-vindo(a), <span>@ViewBag.Nome!</span>
<p>
    CPF: @ViewBag.CPF
    Email: @ViewBag.Email
</p>

<br />
